body{
    background: #283747;
}
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid #979A9A;
    box-shadow: 0 0 0 2px #979A9A;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    transition: 2s;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
#gameContainer{
    margin-top: 250px;
    font-family: "Permanent Marker", cursive;
    text-align: center;
}
h1{
    color: #979A9A;
}
button{
    font-family: "Permanent Marker", cursive;
    font-size: 16px;
    margin-left: 15px;
    border-radius: 5px;
    padding: 5px;
    background: #26566d;
    transition: .5s;
    border: none;
    box-shadow: 0 0 10px rgb(3, 3, 3);
}
button:hover{
    cursor: pointer;
}
.link {
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
    background: #26566d;
    box-shadow: 0 0 10px black;
    transition: .5s;
}

.link:hover{
    box-shadow: 0 0 10px rgb(47, 0, 255);
}
.cell:hover{
    background: #26566d;
    transition: .7s;
}





.modal{
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .6s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}
.modal--show{
    
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .5s;
}
.modal_container{
    
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #26566d;;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal_title{
    font-family: "Permanent Marker", cursive;
    font-size: 35px;
}
.modal_parrafo{
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 30px;
}
.modal_close{
    font-family: "Permanent Marker", cursive;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: #283747;
    background: #979A9A;
    border: 1px solid #283747;
    transition: .5s;

    &:hover{
        border: 1px solid #979A9A;
        background: #283747;
        color: #979A9A;
    }
}

#abrir{
    text-decoration: none;
    padding: 5px;
    color: white;
    background: lightcoral;
    border: 1px solid;
}
#abrir:hover{
    color: lightcoral;
    background: white;
    border: 1px solid lightcoral;
}